@font-face {
    font-family: "NorseBold";
    src: url("Fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Stack Sans Headline", sans-serif;
    margin: 0;
    overflow: hidden;
}

.both-sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* LEFT SIDE SETTINGS */
.left-side {
    position: relative;
    width: 35%;
    height: 100vh;
    background-image: url(leafs.jpg);
    background-size: cover;
    background-position: center;
}

#leafs {
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 140px;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 2;
}

#logo {
    width: 100px;
}

.logo-title {
    color: white;
    font-family: 'NorseBold', sans-serif;
    font-size: 90px;
    margin: 0;
}

/* RIGHT SIDE SETTINGS */
.right-side {
    width: 65%;
    padding: 0 70px;
    font-size: 20px;
}

.right-side > .first-line {
    margin-top: 150px;
    font-weight: 500;
    word-spacing: 2px;
}

.right-side > .second-line {
    margin-top: 20px;
    font-weight: 500;
    word-spacing: 2px;
}

.right-side > .third-line {
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    color: rgb(75, 75, 75);
}

.form-area {
    margin-bottom: 2rem;
}

.form-group > input {
    font: inherit;
    font-weight: 300;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    width: 70%;
    margin-bottom: 5px;
    text-indent: 7px;
    height: 30px;
    font-size: 20px;
}

.form-group input {
    font-size: 15px;
}

.form-group > input:focus {
    outline: none;
    border: 1px solid rgb(66, 63, 216);
    box-shadow: 2px 2px rgb(0, 0, 0, 0.2);
}

.form-group > input:required{
    border: 1px solid red;
}

.form-area form {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

.form-group {
    display: grid;
}

.form-area label {
    font-size: 0.8rem;
    color: rgb(97, 97, 97);
    margin-bottom: 2px;
    letter-spacing: 2px;
    font-weight: 600;
}

.right-side hr {
    margin-left: calc(-70px);
    margin-right: calc(-70px);
    border: 0.5px solid rgba(158, 158, 158, 0.4);
}

.bottom-area {
    margin-top: 30px;
}

.bottom-area button {
    background-color: #596D48;
    color: white;
    width: 220px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.bottom-area p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
}

.bottom-area a {
    color: #596D48;
    font-weight: 700;
    text-decoration: none;
}